<!DOCTYPE HTML>
<html lang="en" prefix="og: http://ogp.me/ns#">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} ACSEINE THAILAND</title>
    <meta name="description" content="{% block html_description %}เวชสำอางสำหรับผิวบอบบาง แพ้ง่าย ปราศจากสารเคมีที่ก่อให้เกิดอาการระคายเคือง เติมเต็มความชุ่มชื้นได้อย่างมีประสิทธิภาพ{% endblock %}" />
    <meta name="keywords" content="{% block html_keywords %}ACSEINE,MOISTBALANCE,MOISTBALANCE LOTION,MOISTBALANCE GEL,SUPER SUNSHIELD,มอยเจอร์ไรเซอร์,มอยเจอร์ไรเซอร์โลชั่น,มอยเจอร์ไรเซอร์ครีม,ครีมกันแดด,ครีมกันแดดและรองพื้น{% endblock %}" />
    <!-- Facebook -->
    <meta property="og:title" content="ACSEINE THAILAND">
    <meta property="og:type" content="website" />
    <meta property="og:description" content="">
    <meta property="og:image" content="{{absolute_url(asset('/acseine_campaign/images/acseine_th.png'))}}">
    <meta property="og:url" content="{{url('acseine_campaign_index')}}">

    <meta name="copyright" content="&copy; ACSEINE THAILAND">
    <link rel="shortcut icon" type="image/x-icon" href="{{asset('acseine/images/favicon.ico')}}" />

    <link rel="stylesheet" type="text/css" href="{{asset('/acseine_campaign/bootstrap-3.3.7-dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('/acseine_campaign/font-awesome-4.7.0/css/font-awesome.min.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Roboto:300,400,500,700,900|Playfair+Display|Prompt:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{{asset('/acseine_campaign/OwlCarousel2/assets/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{asset('/acseine_campaign/OwlCarousel2/assets/owl.theme.default.min.css')}}">
    <link rel="stylesheet" href="{{asset('/acseine_campaign/themify-icons/themify-icons.css')}}">
    <link rel="stylesheet" href="{{asset('/fancybox/dist/jquery.fancybox.min.css')}}">
    <!--[if lt IE 8]><!-->
    <link rel="stylesheet" href="{{asset('/acseine_campaign/themify-icons/ie7/ie7.css')}}">
    <!--<![endif]-->
    <link rel="stylesheet" type="text/css" href="{{asset('/acseine_campaign/stylesheets/style.min.css')}}">
    {% block stylesheets %}{% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{{asset('/acseine_campaign/javascripts/jquery-1.12.4.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('/acseine_campaign/bootstrap-3.3.7-dist/js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('/acseine_campaign/OwlCarousel2/owl.carousel.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('/acseine_campaign/javascripts/angular/angular.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('/acseine_campaign/javascripts/angular/angular-route.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('/acseine_campaign/javascripts/angular/angular-translate.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('/acseine_campaign/javascripts/angular/angular-ui-router.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('/fancybox/dist/jquery.fancybox.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('/acseine_campaign/javascripts/base.js')}}"></script>

</head>

<body data-spy="scroll" data-target="#navbar-top" class="{% block body_class %}{% endblock %}" {% block body_attr %}{% endblock %}>
    {% block header %}
		{% include "ProjectBundle:"~ view_acseine_campaign ~":_header.html.twig"%}
    {% endblock %}
    <main>
        <div class="bgContents"></div>

        {% block content %}{% endblock %}

        {% block shoplist %}
            <section id="shoplist">
                <div class="container">
                    <div class="pad shoplist">
                        <div class="section-title">
                            <h2 style="text-transform: uppercase;">Shop List</h2>
                        </div>
                        <div class="tb">
                            <div class="td img">
                                <img src="{{asset('/acseine_campaign/images/shop/shop.jpg')}}" class="img-responsive"/>
                            </div>
                            <div class="td detail">
                                <div class="box">
                                    <h3>ACSEINE Counter</h3>
                                    <span>
                                        พร้อมเปิดให้บริการครั้งแรก<br />
                                        ในวันที่ 9 พฤศจิกายน 2561 @ICONSIAM TAKASHIMAYA ชั้น M<br />
                                        พร้อมให้คำปรึกษาปัญหาเรื่องผิวและคำแนะนำการเลือกใช้ผลิตภัณฑ์ดูแลผิวสำหรับผิวแพ้ง่าย ฟรี !!
                                    </span>
                                    <br />
                                    @ICONSIAM TAKASHIMAYA ชั้น M 299 ซอยเจริญนคร 5 แขวงคลองต้นไทร
                                    เขตคลองสาน กรุงเทพมหานคร 10600
                                </div>
                            </div>

                        </div>

                        <div class="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2118.3344120197808!2d100.50905826489057!3d13.727576589750631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e299cd81f01815%3A0x1660bd86761a92f4!2sICONSIAM!5e0!3m2!1sth!2sth!4v1538714456642" frameborder="0" allowfullscreen></iframe>
                        </div>

                        <div class="social">
                            <a href="https://www.facebook.com/acseine.th/" target="_blank"><img src="{{asset('/acseine_campaign/images/icon-facebook.png')}}" alt="facebook" /></a>
                            <a href="https://www.instagram.com/acseine.th/" target="_blank"><img src="{{asset('/acseine_campaign/images/icon-instagram.png')}}" alt="instagram" /></a>
                            <a href="https://line.me/R/ti/p/%40nei8508o" target="_blank"><img src="{{asset('/acseine_campaign/images/icon-line.png')}}" alt="line" /></a>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}
    </main>

    {% block footer %}
		{% include "ProjectBundle:"~ view_acseine_campaign ~":_footer.html.twig"%}
    {% endblock %}

    <div class="scrollTop">
        <span class="ti-angle-up"></span>
    </div>

    {% block javascripts_footer %}
        <!-- Global site tag (gtag.js) - Google Ads: 962259952 -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-962259952"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'AW-962259952');
        </script>

        <!-- Facebook Pixel Code -->
        <script>
          !function(f,b,e,v,n,t,s)
          {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
          if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)}(window, document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
          fbq('init', '792371867565791');
          fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
          src="https://www.facebook.com/tr?id=792371867565791&ev=PageView&noscript=1"
        /></noscript>
        <!-- End Facebook Pixel Code -->

        <!-- Global site tag (gtag.js) - Google Ads: 858158932 -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-858158932"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'AW-858158932');
        </script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129082405-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-129082405-1');
        </script>


    {% endblock %}

</body>

</html>
