{% extends "ProjectBundle:"~ view_layout ~":layout.html.twig" %}

{% block title %}{% trans %}acseine.skin_allergy.title{% endtrans %} | {% trans %}project.title_bar_name{% endtrans %} {{ parent() }}{% endblock %}
{% block home_active %}active{% endblock %}
{% block m_home_active %}active{% endblock %}

{% block html_description %}{% trans %}acseine.skin_allergy.title{% endtrans %} {% trans %}acseine.skin_allergy.head{% endtrans %}{% endblock %}
{% block html_keywords %}{% trans %}acseine.skin_allergy.html_keywords{% endtrans %}{% endblock %}

{% block main_class %}{% endblock %}

{% block breadcrumb %}
<div class="breadcrumb">
	<div class="container breadcrumb_in">
		<div class="breadcrumb_items">
			<a href="{{path('homepage')}}" class="active">{% trans %}acseine.breadcrumb.top{% endtrans %}</a>
		</div>
		<div class="breadcrumb_items">
			<a href="{{path('skin_problems_and_cosmetics')}}" class="active">{% trans %} acseine.breadcrumb.skin_problems_cosmetics{% endtrans %}</a>
		</div>
		<div class="breadcrumb_items">
			{% trans %}acseine.breadcrumb.skin_allergy {% endtrans %}
		</div>
	</div>
</div><!-- /breadcrumb -->
<div class="container title_category">
	<h1>{% trans %}acseine.skin_allergy.title{% endtrans %}</h1>
</div>
{% endblock %}

{% block content %}
<section id="skin-allergy" class="skin-allergy">
<!-- /title_table -->
<div class="main-content container">
	<div class="skin_pimple">
		<div class="skin_pimple_content">
			<h3 class="title_h3">{% trans %}acseine.skin_allergy.head{% endtrans %}</h3>
			<div class="listItems skin_pimple_question">
				<ul class="listQuestion">
					<li><a href="#q1">{% trans %}acseine.skin_allergy.question1_title_main{% endtrans %}</a></li>
					<li><a href="#q2">{% trans %}acseine.skin_allergy.question2_title_main{% endtrans %}</a></li>
					<li><a href="#q3">{% trans %}acseine.skin_allergy.question3_title_main{% endtrans %}</a></li>
					<li><a href="#q4">{% trans %}acseine.skin_allergy.question4_title_main{% endtrans %}</a></li>
					<li><a href="#q5">{% trans %}acseine.skin_allergy.question5_title_main{% endtrans %}</a></li>
				</ul>
				<a class="btn_top" href="{{path('skin_allergy_qa')}}"><img src="{{asset('acseine/original/images/skin_problems/skin_allergy/btn_top.png')}}" alt="Q&A for managing allergies"></a>
			</div>
			<h4 class="title_h4" id="q1">{% trans %}acseine.skin_allergy.question1.title{% endtrans %}</h4>
			<div class="listItems skin_pimple_thumbList">
				<div class="description">
					<p class="text">{% trans %}acseine.skin_allergy.question1.paragraph1{% endtrans %}</p>
				</div>
				<div class="thumbnail">
					{%  if (app.request.getLocale()) == 'en' %}
						<img src="{{asset('acseine/original/images/skin_problems/skin_allergy/thumbnail_01.png')}}" alt="Cedar pollen">
					{% elseif (app.request.getLocale()) == 'th'%}
						<img src="{{asset('acseine/original/images/skin_problems/skin_allergy/thumbnail_01_th.png')}}" alt="Cedar pollen">
					{% endif %}
				</div>
			</div>
			<h4 class="title_h4" id="q2">{% trans %}acseine.skin_allergy.question2.title{% endtrans %}</h4>
			<div class="listItems skin_pimple_thumbList">
				<div class="description">
					<p class="text">{% trans %}acseine.skin_allergy.question2.paragraph1{% endtrans %}</p>
					<h5>{% trans %}acseine.skin_allergy.question2.head_paragraph2{% endtrans %}</h5>
					<p class="text">{% trans %}acseine.skin_allergy.question2.paragraph2{% endtrans %}</p>
				</div>
				<div class="thumbnail">
					{%  if (app.request.getLocale()) == 'en' %}
						<img src="{{asset('acseine/original/images/skin_problems/skin_allergy/thumbnail_02.png')}}" alt="Cosmetics">
					{% elseif (app.request.getLocale()) == 'th'%}
						<img src="{{asset('acseine/original/images/skin_problems/skin_allergy/thumbnail_02_th.png')}}" alt="Cosmetics">
					{% endif %}
				</div>
			</div>
			<div class="listItems skin_pimple_highlight ">
				<div class="avatar">
					{%  if (app.request.getLocale()) == 'en' %}
						<img src="{{asset('acseine/original/images/skin_problems/skin_allergy/ico_point.png')}}" alt="Point">
					{% elseif (app.request.getLocale()) == 'th'%}
						<img src="{{asset('acseine/original/images/skin_problems/skin_allergy/ico_point_th.png')}}" alt="Point">
					{% endif %}
				</div>
				<div class="description">
					<p class="text">{% trans %}acseine.skin_allergy.question2.paragraph3{% endtrans %}</p>
				</div>
			</div>
			<div class="listItems skin_pimple_thumbList">
				<div class="description">
					<h5>{% trans %}acseine.skin_allergy.question2.head_paragraph4{% endtrans %}</h5>
					<p class="text">{% trans %}acseine.skin_allergy.question2.paragraph4{% endtrans %}</p>
				</div>
				<div class="thumbnail">
					{%  if (app.request.getLocale()) == 'en' %}
						<img src="{{asset('acseine/original/images/skin_problems/skin_allergy/thumbnail_03.png')}}" alt="Allergens">
					{% elseif (app.request.getLocale()) == 'th'%}
						<img src="{{asset('acseine/original/images/skin_problems/skin_allergy/thumbnail_03_th.png')}}" alt="Allergens">
					{% endif %}
				</div>
			</div>
			<div class="listItems skin_pimple_highlight">
				<div class="avatar">
					{%  if (app.request.getLocale()) == 'en' %}
						<img src="{{asset('acseine/original/images/skin_problems/skin_allergy/ico_point.png')}}" alt="Point">
					{% elseif (app.request.getLocale()) == 'th'%}
						<img src="{{asset('acseine/original/images/skin_problems/skin_allergy/ico_point_th.png')}}" alt="Point">
					{% endif %}
				</div>
				<div class="description">
					<p class="text">{% trans %}acseine.skin_allergy.question2.paragraph5{% endtrans %}</p>
				</div>
			</div>
			<p class="text">{% trans %}acseine.skin_allergy.question2.paragraph6{% endtrans %}</p>
			<h4 class="title_h4" id="q3">{% trans %}acseine.skin_allergy.question3.title{% endtrans %}</h4>
			<div class="listItems skin_pimple_thumbList">
				<div class="description">
					<p class="text">{% trans %}acseine.skin_allergy.question3.paragraph1{% endtrans %}</p>
				</div>
				<div class="thumbnail">
					{%  if (app.request.getLocale()) == 'en' %}
						<img src="{{asset('acseine/original/images/skin_problems/skin_allergy/thumbnail_04.png')}}" alt="Medical interview">
					{% elseif (app.request.getLocale()) == 'th'%}
						<img src="{{asset('acseine/original/images/skin_problems/skin_allergy/thumbnail_04_th.png')}}" alt="Medical interview">
					{% endif %}
				</div>
			</div>
			<div class="listItems skin_pimple_highlight">
				<div class="avatar">
					{%  if (app.request.getLocale()) == 'en' %}
						<img src="{{asset('acseine/original/images/skin_problems/skin_allergy/ico_point.png')}}" alt="Point">
					{% elseif (app.request.getLocale()) == 'th'%}
						<img src="{{asset('acseine/original/images/skin_problems/skin_allergy/ico_point_th.png')}}" alt="Point">
					{% endif %}
				</div>
				<div class="description">
					<p class="text">{% trans %}acseine.skin_allergy.question3.paragraph2{% endtrans %}
						<a href="{{path('skin_allergy_test')}}" class="link01">{% trans %}acseine.skin_allergy.question3.paragraph2_1{% endtrans %}</a>
						{% trans %}acseine.skin_allergy.question3.paragraph2_2{% endtrans %}
					</p>
				</div>
			</div>
			<h4 class="title_h4" id="q4">{% trans %}acseine.skin_allergy.question4.title{% endtrans %}</h4>
			<div class="listItems skin_pimple_thumbList">
				<div class="description">
					<p class="text">{% trans %}acseine.skin_allergy.question4.paragraph1{% endtrans %}</p>
				</div>
				<div class="thumbnail">
					{%  if (app.request.getLocale()) == 'en' %}
						<img src="{{asset('acseine/original/images/skin_problems/skin_allergy/thumbnail_05.png')}}" alt="Cosmetics ingredient label">
					{% elseif (app.request.getLocale()) == 'th'%}
						<img src="{{asset('acseine/original/images/skin_problems/skin_allergy/thumbnail_05_th.png')}}" alt="Cosmetics ingredient label">
					{% endif %}
				</div>
			</div>
			<div class="listItems skin_pimple_highlight gray">
				<div class="avatar">
					{%  if (app.request.getLocale()) == 'en' %}
						<img src="{{asset('acseine/original/images/skin_problems/skin_allergy/ico_test.png')}}" alt="Test">
					{% elseif (app.request.getLocale()) == 'th'%}
						<img src="{{asset('acseine/original/images/skin_problems/skin_allergy/ico_test_th.png')}}" alt="Test">
					{% endif %}
				</div>
				<div class="description">
					<h5>{% trans %}acseine.skin_allergy.question4.head_paragraph2{% endtrans %}</h5>
					<p class="text">
						{% trans %}acseine.skin_allergy.question4.paragraph2{% endtrans %}
						<a href="{{path('skin_allergy_test')}}" class="link01">{% trans %}acseine.skin_allergy.question4.paragraph2_1{% endtrans %}</a>
						{% trans %}acseine.skin_allergy.question4.paragraph2_2{% endtrans %}
					</p>
				</div>
			</div>
			<div class="description">
				<h5>{% trans %}acseine.skin_allergy.question4.head_paragraph3{% endtrans %}</h5>
				<p class="text">{% trans %}acseine.skin_allergy.question4.paragraph3{% endtrans %}</p>
			</div>
			<h4 class="title_h4" id="q5">{% trans %}acseine.skin_allergy.question5.title{% endtrans %}</h4>
			<div class="description">
				<p class="text">{% trans %}acseine.skin_allergy.question5.paragraph1{% endtrans %}</p>
				<h5>{% trans %}acseine.skin_allergy.question5.head_paragraph2{% endtrans %}</h5><br>
				<p class="text">{% trans %}acseine.skin_allergy.question5.paragraph2{% endtrans %}</p>
				<h5>{% trans %}acseine.skin_allergy.question5.head_paragraph3{% endtrans %}</h5></h5><br>
				<p class="text">{% trans %}acseine.skin_allergy.question5.paragraph3{% endtrans %}</p>
				<div class="img_btn">
					<a href="{{path('skin_allergy_qa')}}"><img src="{{asset('acseine/original/images/skin_problems/skin_allergy/img_ads_01.png')}}" alt="Q&A for managing allergies"></a>
				</div>
			</div>
		</div>
		<div class="listItems skin_pimple_listBtn">
			<div class="col-xs-12 col-sm-6 col-md-6">
				<a href="{{path('skin_allergy')}}"><button class="button_skin" href="#"><i class="icon-thin center-btn-history right"></i> <h3>{% trans %}acseine.skin_problems.button_allergies{% endtrans %}</h3> <i class="icon-thin-sm center-right-btn-history right"></i></button></a>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6">
				<a href="{{path('skin_atopic_dermatitis')}}"><button class="button_skin" href="#"><i class="icon-thin center-btn-history right"></i> <h3>{% trans %}acseine.skin_problems.button_atopic{% endtrans %} </h3> <i class="icon-thin-sm center-right-btn-history right"></i></button></a>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6">
				<a href="{{path('adult_acne')}}"><button class="button_skin" href="#"><i class="icon-thin center-btn-history right"></i> <h3>{% trans %}acseine.skin_problems.button_adult{% endtrans %}</h3>  <i class="icon-thin-sm center-right-btn-history right"></i></button></a>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6">
				<a href="{{path('uv_rays_and_dryness')}}"><button class="button_skin" href="#"><i class="icon-thin center-btn-history right"></i><h3> {% trans %}acseine.skin_problems.button_uv{% endtrans %}</h3>  <i class="icon-thin-sm center-right-btn-history right"></i></button></a>
			</div>
		</div>
	</div>
</div>
</section>
{% endblock %}
