{% extends "ProjectBundle:"~ view_layout ~":layout.html.twig" %}

{% block title %}{% trans %}acseine.skin_problems.title{% endtrans %} | {% trans %}project.title_bar_name{% endtrans %} {{ parent() }}{% endblock %}
{% block home_active %}active{% endblock %}
{% block m_home_active %}active{% endblock %}

{% block html_description %}{% trans %}acseine.skin_problems.sub_head1{% endtrans %}{% endblock %}
{% block html_keywords %}{% trans %}acseine.skin_problems.html_keywords{% endtrans %}{% endblock %}

{% block main_class %}{% endblock %}

{% block breadcrumb %}
<div class="breadcrumb">
	<div class="container breadcrumb_in">
		<div class="breadcrumb_items">
			<a href="{{path('homepage')}}" class="active">{% trans %}acseine.breadcrumb.top{% endtrans %}</a>
		</div>
		<div class="breadcrumb_items">
			{% trans %}acseine.breadcrumb.skin_problems_cosmetics{% endtrans %}
		</div>
	</div>
</div><!-- /breadcrumb -->
<div class="container title_category">
	<h1>{% trans %}acseine.skin_problems.title{% endtrans %}</h1>
</div>
{% endblock %}

{% block content %}
<section id="skin-problems-and-cosmetics" class="skin-problems-and-cosmetics">
<!-- /title_table -->
<div class="main-content container">
	<div class="counseling-skin">
		<ul class="box01">
			<li>
				<h3 class="is-sp">{% trans %}acseine.skin_problems.head{% endtrans %}</h3>
				<p>{% trans %}acseine.skin_problems.paragraph1{% endtrans %}</p>
			</li>
			<li>
				<img src="{{asset('acseine/original/images/skin_problems/img01_pc.jpg')}}" alt="A fundamental part of ACSEINE is counseling">
			</li>
		</ul>

		{#<div class="counseling-skin-bottom">
		<ul class="box02 list01">
		<li><a href="{{path('skin_allergy')}}"><img src="{{asset('acseine/original/images/skin_problems/btn01_off_pc.png')}}" alt="Allergies"></a></li>
		<li><a href="{{path('skin_atopic_dermatitis')}}"><img src="{{asset('acseine/original/images/skin_problems/btn02_off_pc.png')}}" alt="Atopic dermatitis"></a></li>
		</ul>
		<ul class="box02">
		<li><a href="{{path('adult_acne')}}"><img src="{{asset('acseine/original/images/skin_problems/btn03_off_pc.png')}}" alt="Adult acne"></a></li>
		<li><a href="{{path('uv_rays_and_dryness')}}"><img src="{{asset('acseine/original/images/skin_problems/btn04_off_pc.png')}}" alt="UV rays and dryness"></a></li>
		</ul>
		</div>#}

		<div class="col-xs-12 col-sm-6 col-md-6">
			<a href="{{path('skin_allergy')}}"><button class="button_skin" href="#"><i class="icon-thin center-btn-history right"></i> <h3>{% trans %}acseine.skin_problems.button_allergies{% endtrans %}</h3> <i class="icon-thin-sm center-right-btn-history right"></i></button></a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6">
			<a href="{{path('skin_atopic_dermatitis')}}"><button class="button_skin" href="#"><i class="icon-thin center-btn-history right"></i> <h3>{% trans %}acseine.skin_problems.button_atopic{% endtrans %} </h3> <i class="icon-thin-sm center-right-btn-history right"></i></button></a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6">
			<a href="{{path('adult_acne')}}"><button class="button_skin" href="#"><i class="icon-thin center-btn-history right"></i> <h3>{% trans %}acseine.skin_problems.button_adult{% endtrans %}</h3>  <i class="icon-thin-sm center-right-btn-history right"></i></button></a>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-6">
			<a href="{{path('uv_rays_and_dryness')}}"><button class="button_skin" href="#"><i class="icon-thin center-btn-history right"></i><h3> {% trans %}acseine.skin_problems.button_uv{% endtrans %}</h3>  <i class="icon-thin-sm center-right-btn-history right"></i></button></a>
		</div>
	</div>
</div>
</section>
{% endblock %}
