{% form_theme form 'bootstrap_3_layout.html.twig'
'jquery.collection.html.twig'
%}

<div class="box-body container icheck">

	<div class="form-group">
	    <label class="control-label col-md-2"> Translation</label>
		<div class="col-md-9">
		    {{ form_widget(form.translations) }}
	    </div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-2" for="image"> Image</label>
		<div class="col-md-9">
			{% if form.vars.value.image %}
				<a href="{{asset(form.vars.value.image)}}" class="fancybox pull-left" style="margin-right: 10px;margin-bottom: 10px;" >
					<img src="{{asset(form.vars.value.image) | imagine_filter('img_thumb')}}" alt="iamge" />
				</a>
				<span class="checkbox">
					<input type="checkbox" id="removefileimage" name="removefileimage" value="1">
					<label class="control-label" for="removefileimage">  Remove</label>
				</span>
			{% endif %}
			<div class="input-group clearfix">
				{{form_widget(form.image, {'id' : 'image'})}}
				<span class="input-group-btn">
					<button onclick="selectFileWithCKFinder('image');" class="btn btn-default" name="image_btn" id="image_btn" type="button">Browse Server</button>
				</span>
			</div>
			<!-- <p class="help-block">size image 1920×1080 px</p> -->
			<div class="error-form">{{form_errors(form.image)}}</div>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-2" for="image"> Image Banner</label>
		<div class="col-md-9">
			{% if form.vars.value.imageBanner %}
				<a href="{{asset(form.vars.value.imageBanner)}}" class="fancybox pull-left" style="margin-right: 10px;margin-bottom: 10px;" >
					<img src="{{asset(form.vars.value.imageBanner) | imagine_filter('img_thumb')}}" alt="imageBanner" />
				</a>
				<span class="checkbox">
					<input type="checkbox" id="removefileimageBanner" name="removefileimageBanner" value="1">
					<label class="control-label" for="removefileimageBanner">  Remove</label>
				</span>
			{% endif %}
			<div class="input-group clearfix">
				{{form_widget(form.imageBanner, {'id' : 'imageBanner'})}}
				<span class="input-group-btn">
					<button onclick="selectFileWithCKFinder('imageBanner');" class="btn btn-default" name="imageBanner" id="imageBanner" type="button">Browse Server</button>
				</span>
			</div>
			<!-- <p class="help-block">size image 1920×1080 px</p> -->
			<div class="error-form">{{form_errors(form.imageBanner)}}</div>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2" for="image"> Image Logo</label>
		<div class="col-md-9">
			{% if form.vars.value.imageLogo %}
				<a href="{{asset(form.vars.value.imageLogo)}}" class="fancybox pull-left" style="margin-right: 10px;margin-bottom: 10px;" >
					<img src="{{asset(form.vars.value.imageLogo) | imagine_filter('img_thumb')}}" alt="imageLogo" />
				</a>
				<span class="checkbox">
					<input type="checkbox" id="removefileimageLogo" name="removefileimageLogo" value="1">
					<label class="control-label" for="removefileimageLogo">  Remove</label>
				</span>
			{% endif %}
			<div class="input-group clearfix">
				{{form_widget(form.imageLogo, {'id' : 'imageLogo'})}}
				<span class="input-group-btn">
					<button onclick="selectFileWithCKFinder('imageLogo');" class="btn btn-default" name="imageLogo" id="imageLogo" type="button">Browse Server</button>
				</span>
			</div>
			<!-- <p class="help-block">size image 1920×1080 px</p> -->
			<div class="error-form">{{form_errors(form.imageLogo)}}</div>
		</div>
	</div>
	{#<div class="form-group">
		<label class="control-label col-md-2" for="image"> ImageLabel</label>
		<div class="col-md-9">
			{% if form.vars.value.imageLabel %}
				<a href="{{asset(form.vars.value.imageLabel)}}" class="fancybox pull-left" style="margin-right: 10px;margin-bottom: 10px;" >
					<img src="{{asset(form.vars.value.imageLabel) | imagine_filter('img_thumb')}}" alt="imageLabel" />
				</a>
				<span class="checkbox">
					<input type="checkbox" id="removefileimageLabel" name="removefileimageLabel" value="1">
					<label class="control-label" for="removefileimageLabel">  Remove</label>
				</span>
			{% endif %}
			<div class="input-group clearfix">
				{{form_widget(form.imageLabel, {'id' : 'imageLabel'})}}
				<span class="input-group-btn">
					<button onclick="selectFileWithCKFinder('imageLabel');" class="btn btn-default" name="imageLabel" id="imageLabel" type="button">Browse Server</button>
				</span>
			</div>
			<!-- <p class="help-block">size image 1920×1080 px</p> -->
			<div class="error-form">{{form_errors(form.imageLabel)}}</div>
		</div>
	</div>#}

	<div class="form-group">
		<label class="control-label col-md-2" for="status"> Status</label>
		<div class="col-md-9">
			{{form_widget(form.status, {'id' : 'status'})}}
			<div class="error-form">{{form_errors(form.status)}}</div>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-2" for="category"> category</label>
		<div class="col-md-9">
			{{form_widget(form.category, {'id' : 'category'})}}
			<div class="error-form">{{form_errors(form.category)}}</div>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-2" >{{form_label(form.ourBrandVideos)}}</label>
		<div class="col-md-9 ">
      <br>
        {{form_widget(form.ourBrandVideos)}}
		</div>
</div>

<div class="box-footer">
	<div class="row">
		<div class="col-md-offset-2 col-md-9">
			{{form_widget(form.save, {'id' : 'save', 'label': btn_label_save})}}
			{{form_widget(form.save_and_add, {'id' : 'save_and_add', 'label': btn_label_save_add})}}
			{{form_widget(form.save_and_edit, {'id' : 'save_and_edit', 'label': btn_label_save_edit})}}
			<a href="{%if app.session.get('back_to_url')['admin_our_brand'] is defined%}{{app.session.get('back_to_url')['admin_our_brand']}}{%else%}{{path('admin_our_brand')}}{%endif%}" class="btn btn-default">{{btn_label_close}} </a>
		</div>
	</div>
</div>

<script type="text/javascript">


$('.youtube-collection').collection({
  prototype_name: '{{ form.ourBrandVideos.vars.prototype.vars.name }}',
  name_prefix: '{{form.ourBrandVideos.vars.prototype.vars.full_name}}',
	add: '<a class="btn btn-success" href="#"><span class="glyphicon glyphicon-plus"></span>Add slider videos</a>',
	remove: '<a class="btn btn-danger" href="#"><span class="glyphicon glyphicon-trash"></span></a>',
	allow_up: false,
	allow_down: false,
	allow_duplicate: false,
	add_at_the_end: true,
	allow_delete: true,
	min: 0,
	max: 10,
	after_remove: function(collection, element) {

	},
	after_init: function(collection) {

			var countCollation = collection[0].children.length;
			$.each(collection[0].children, function (index, value) {
					var id = document.getElementById(value.id);

          {% if form.ourBrandVideos.vars.value|length > 0  %}
              var imageYoutube = new Array();
              {% for child in form.ourBrandVideos.vars.value %}
                  imageYoutube.push('{{ child.thumbnailUrl}}');
              {% endfor %}

              if(id){
                  $(id).prepend( "<br><img src='"+imageYoutube[index]+"' width='120' height='80'>");
              }

          {% endif %}
			});
  }
});


</script>

</script>
